@using StokTakip.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLoyout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">

                <tr>
                    <th>MÜŞTERİ ID</th>
                    <th>MÜŞTERİ AD</th>
                    <th>MÜŞTERİ SOYAD</th>
                    <th>SİL</th>
                    <th>GÜNCELLE</th>
                    <th>ALERT</th>
                </tr>
                <tbody>
                    @foreach (var mus in Model)
                    {
                        <tr>
                            <th>@mus.MUSTERIID</th>
                            <td>@mus.MUSTERIAD</td>
                            <td>@mus.MUSTERISOYAD</td>
                            <td><a href="/MUSTERI/SIL/@mus.MUSTERIID" class="btn btn-danger">SİL</a></td>
                            <td><a href="/MUSTERI/MusteriGetir/@mus.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                            <td>@Html.ActionLink("SİL BUTONU", "SIL", new { id = mus.MUSTERIID }, new { @class = "btn btn-warning" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
            <a href="/MUSTERI/YeniMusteri/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>
        </div>
    </div>
</div>